<!DOCTYPE html>
<html>

<head></head>
<style>
    /* styling for table,tr,td */
    table,
    tr,
    td {
        border: 1px solid black;
        height: 10vh;
        width: 30vw;
        border-collapse: collapse;

    }
</style>

<body>
    <table>
        <!-- first row -->
        <tr>
            <td colspan="3">name</td>
            
            
        </tr>
        <!-- 2nd row -->
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!-- 3rd row -->
        <tr>
              <td rowspan="2" colspan="2"></td>
              <td></td>
            
        </tr>
        <!-- 4th row -->
        <tr>
            
            <td></td>
        </tr>
        <!-- 5th row -->
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>

</html>