<!DOCTYPE html>
<html>

<head>

    <title>Table</title>
    <style>
        /* styling for table */
        table{
            border-style: solid;
            border-collapse: collapse;
            background-color: aqua;
            margin: auto;
        
        }
         /* styling for td,tr,th */
        td,tr,th{
            border: solid;
        }
        /* styling for center */
        .center{
            height: 100%;
            width: 80%;
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- Table Heading -->
    <h1 style="text-align: center;">Student Details</h1>
    <br>

    <table class="center">
        <!-- table header -->
    <tr>
        <th style="width: 10%;">Roll No.</th>
        <th style="width: 20%;">Name</th>
        <th colspan="3">Subject</th>
        <th style="width: 20%;">Total</th>
       
    </tr>
    
   <!-- table data -->
    <tr>
        <td>1</td>
        <td>Ritika</td>
        <td>60</td>
        <td>80</td>
        <td>90</td>
        <td>230</td>
   </tr>

   <tr>
    <td>2</td>
    <td>Paresh</td>
    <td>80</td>
    <td>80</td>
    <td>80</td>
    <td>240</td>
</tr>

<tr>
    <td>3</td>
    <td>Sneha</td>
    <td>50</td>
    <td>60</td>
    <td>90</td>
    <td>200</td>
</tr>
<tr>
    <td>4</td>
    <td>Riya</td>
    <td>70</td>
    <td>70</td>
    <td>60</td>
    <td>200</td>
</tr>

</table>
</body>

</html>